<div class="merchant-edit-container" [@fadeIn]>
  <nz-breadcrumb class="breadcrumb">
    <nz-breadcrumb-item>
      <i class="anticon anticon-shop"></i>
      <span>店铺</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>门店管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ typeId ? '门店编辑' : '新增门店' }}</nz-breadcrumb-item>
  </nz-breadcrumb>

  <div nz-row class="edit-content">
    <div nz-col [nzMd]="24" [nzLg]="12">
      <form nz-form [formGroup]="merchantForm" (ngSubmit)="merchantForm.valid && submitForm(merchantForm.value)">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
              <label for="merchantName" nz-form-item-required>门店名称</label>
            </div>
            <div nz-form-control nz-col [nzSm]="18" [nzXs]="24" [nzValidateStatus]="merchantForm.controls.merchantName">
              <nz-input [nzId]="'merchantName'" [nzSize]="'large'" formControlName="merchantName" [nzPlaceHolder]="'请输入门店名称'"></nz-input>
              <div nz-form-explain *ngIf="merchantForm.controls.merchantName.dirty&&merchantForm.controls.merchantName.hasError('required')">请输入门店名称</div>
            </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label for="shopType" nz-form-item-required>门店分组</label>
          </div>
          <div nz-form-control nz-col [nzSm]="18" [nzXs]="24" [nzValidateStatus]="merchantForm.controls.shopType">
            <nz-select formControlName="shopType" [nzPlaceHolder]="'请选择门店分类'" [nzAllowClear]="true" [nzShowSearch]="true">
              <nz-option *ngFor="let shopType of shopTypeList" [nzLabel]="shopType.type_name" [nzValue]="shopType.type_name"></nz-option>
            </nz-select>
            <div nz-form-explain *ngIf="merchantForm.controls.shopType.dirty&&merchantForm.controls.shopType.hasError('required')">请选择门店分类</div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label for="nickName">店长昵称</label>
          </div>
          <div nz-form-control nz-col [nzSm]="18" [nzXs]="24" [nzValidateStatus]="merchantForm.controls.nickName">
            <nz-input [nzId]="'nickName'" [nzSize]="'large'" formControlName="nickName" [nzPlaceHolder]="'请输入店长昵称'"></nz-input>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
            <label for="discount">门店折扣</label>
          </div>
          <div nz-form-control nz-col [nzSm]="18" [nzXs]="24" [nzValidateStatus]="merchantForm.controls.discount">
            <nz-input-number [nzSize]="'large'" [nzMin]="0" [nzMax]="100" [nzStep]="1" formControlName="discount" [nzPlaceHolder]="'请输入门店折扣'"></nz-input-number>
            <div nz-form-text>折扣范围为0至100。</div>
          </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
              <label for="phone">联系电话</label>
            </div>
            <div nz-form-control nz-col [nzSm]="18" [nzXs]="24" [nzValidateStatus]="merchantForm.controls.phone">
              <nz-input [nzId]="phone" [nzSize]="'large'" formControlName="phone" [nzPlaceHolder]="'请输入联系电话'"></nz-input>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
              <label for="address">门店地址</label>
            </div>
            <div nz-form-control nz-col [nzSm]="18" [nzXs]="24">
              <nz-cascader formControlName="address" [nzPlaceHolder]="'请选择门店地址'" (nzLoad)="loadData($event)"></nz-cascader>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
              <label for="addressDetail">详细地址</label>
            </div>
            <div nz-form-control nz-col [nzSm]="18" [nzXs]="24" [nzValidateStatus]="merchantForm.controls.addressDetail">
              <nz-input [nzId]="addressDetail" [nzSize]="'large'" formControlName="addressDetail" [nzPlaceHolder]="'请输入详细地址'"></nz-input>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
              <label for="point">地图坐标</label>
            </div>
            <div nz-form-control nz-col [nzSm]="18" [nzXs]="24" [nzValidateStatus]="merchantForm.controls.point">
              <button type="button" nz-button [nzGhost]="true" [nzType]="'primary'" (click)="showMap=!showMap;" >
                <i class="anticon anticon-environment"></i><span>点击获取</span>
              </button>
              <div nz-form-text *ngIf="merchantForm.value.point" style="padding-left: 8px;">{{merchantForm.value.point[0]}}, {{merchantForm.value.point[1]}}</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="4" [nzXs]="24">
              <label for="merchantDesc">门店简介</label>
            </div>
            <div nz-form-control nz-col [nzSm]="18" [nzXs]="24" [nzValidateStatus]="merchantForm.controls.merchantDesc">
              <nz-input [nzId]="'merchantDesc'" [nzRows]="3" [nzType]="'textarea'" [nzSize]="'large'" formControlName="merchantDesc" [nzPlaceHolder]="'请输入门店简介'"></nz-input>
            </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="4">
            <button nz-button [nzType]="'primary'" [nzSize]="'large'">确认</button>
            <button type="button" nz-button [nzSize]="'large'" (click)="cancel()">取消</button>
          </div>
        </div>
      </form>
    </div>

    
    <amap *ngIf="showMap"  [position]="merchantForm.value.point" (onSelect)="getPosition($event)"></amap>
  </div>
</div>