.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login-form {
  min-width: 300px;
  padding: 20px 50px;
  border-radius: 10px;
  box-sizing: content-box;
  /*background: rgba(255. 255, 255, 0.5);*/
  background: #fff;
}
.login-form-title {
  font-size: 30px;
  text-align: center;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}