<div class="login">
  <form class="login-form" nz-form [formGroup]="loginForm" (ngSubmit)="doLogin()" novalidate>
    <div nz-form-item class="login-form-title">后台管理系统</div>
    <div nz-form-item>
      <div nz-form-control [nzValidateStatus]="loginForm.controls.userName">
        <nz-input formControlName="userName" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-user"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="loginForm.controls.userName.dirty&&loginForm.controls.userName.hasError('required')">用户名不能为空</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control [nzValidateStatus]="loginForm.controls.password">
        <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="loginForm.controls.password.dirty&&loginForm.controls.password.hasError('required')">密码不能为空</div>
      </div>
    </div>
    <div nz-form-item style="margin-bottom: 0;">
      <div nz-form-control>
        <label nz-checkbox formControlName="rememberMe">
        <span>记住密码</span>
      </label>
        <a class="login-form-forgot">忘记密码？</a>
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登录</button>
        <span>Tips : 用户名和密码随便填。</span>
      </div>
    </div>
  </form>
</div>