<nz-layout class="layout">
  <!--顶部菜单栏-->
  <app-header *ngIf="user && user.token" [user]="user"></app-header>

  <nz-layout style="flex-direction: row;">
    <!--侧边菜单栏-->
    <app-side-bar *ngIf="user && user.token"></app-side-bar>

    <nz-layout style="background: #fff; padding: 0 24px 24px; overflow: auto;">

      <!--面包屑导航-->
      <app-breadcrumb></app-breadcrumb>

      <!--主体内容-->
      <nz-content style="min-height: 280px; font-size: 16px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>