<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
  <ul *ngIf="menu"  nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu *ngFor="let item of menu">
      <span title>
        <i class="anticon" [ngClass]="item.icon"></i>
        <span>{{ item.title }}</span>
      </span>
      <ul>
        <ng-container *ngFor="let subItem of item?.subs;let i = index;">
          <li nz-menu-item *ngIf="!subItem?.subs" (click)="selectMenu(item, i)" >
            <a [routerLink]="[subItem.path]">{{i}} - {{ subItem?.title }}</a>
          </li>
          <li nz-submenu *ngIf="subItem?.subs">
            <span title>
              {{ subItem?.title }}
            </span>
            <ul>
              <li nz-menu-item *ngFor="let tertiaryItem of subItem?.subs;let j = index;" (click)="selectMenu(item, i, j)">
                <a [routerLink]="[tertiaryItem.path]">{{ tertiaryItem.title }}</a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </li>
  </ul>
</nz-sider>
