<div [@fadeIn]>
  <nz-breadcrumb style="margin: 24px 0 16px;">
    <nz-breadcrumb-item>
      <i class="anticon anticon-shop"></i>
      <span>店铺</span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>店铺信息</nz-breadcrumb-item>
  </nz-breadcrumb>

  <text-editor [elementId]="'shopInfo'" (onEditorKeyup)="keyupHandlerFunction($event)"></text-editor>

  <!--<textarea>
    <p><img title="TinyMCE Logo" src="https://www.tinymce.com/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" /></p>
    <h1>Welcome to TinyMCE 4.7!</h1>
    <p>Please try out this example of the world's favorite online rich text editor. When you are ready, <a href="https://www.tinymce.com/">sign up</a> to integrate TinyMCE into your application today.</p>

    <h2>Got questions or need help?</h2>
    <ul>
      <li>Our <a href="https://www.tinymce.com/docs/">documentation</a> is a great resource for learning how to configure TinyMCE.</li>
      <li>Have a specific question? Visit the <a href="https://community.tinymce.com/forum/">community forum</a>.</li>
      <li>Need more? Get support with a <a href="https://tinymce.com/pricing">premium subscription</a>.</li>
    </ul>

    <h2>A simple table to play with</h2>
    <table style="text-align: center;">
      <thead>
        <tr>
          <th>Product</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="https://www.tinymce.com">TinyMCE Cloud</a></td>
          <td>The easiest and most reliable way to integrate powerful rich text editing into your application.</td>
        </tr>
        <tr>
          <td><a href="http://www.moxiemanager.com">MoxieManager</a></td>
          <td>Image and file manager add-on for TinyMCE.</td>
        </tr>
      </tbody>
    </table>

    <h2>Get involved</h2>
    <p>If you think you have found a bug please create an issue on the <a href="https://github.com/tinymce/tinymce/issues">GitHub repository</a> to report it to the developers.</p>

    <h2>Finally ...</h2>
    <p>Thanks for supporting TinyMCE! We hope it helps you and your users create great content.</p>
    <p><a href="https://www.tinymce.com/">Get started today!</a></p>
  </textarea>-->
</div>