<div class="home-container" [@fadeIn]>
  <div nz-row [nzGutter]="32">
    <div nz-col [nzXs]="12" [nzLg]="6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>150</h3>
          <p>新增订单</p>
        </div>
        <div class="icon">
          <i class="anticon anticon-shopping-cart"></i>
        </div>
        <a [routerLink]="['/order/profile']" class="small-box-footer">查看详情 <i class="anticon anticon-arrow-right"></i></a>
      </div>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>250</h3>
          <p>新增会员</p>
        </div>
        <div class="icon">
          <i class="anticon anticon-user-add"></i>
        </div>
        <a href="#" class="small-box-footer">查看详情 <i class="anticon anticon-arrow-right"></i></a>
      </div>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>250</h3>
          <p>新增代理</p>
        </div>
        <div class="icon">
          <i class="anticon anticon-user-add"></i>
        </div>
        <a href="#" class="small-box-footer">查看详情 <i class="anticon anticon-arrow-right"></i></a>
      </div>
    </div>
    <div nz-col [nzXs]="12" [nzLg]="6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3>250</h3>
          <p>新增会员</p>
        </div>
        <div class="icon">
          <i class="anticon anticon-user-add"></i>
        </div>
        <a href="#" class="small-box-footer">查看详情 <i class="anticon anticon-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>