<input #uploadInput id="upload-input" type="file" (change)="changeImg($event.target)" accept="image/jpeg,image/png,image/gif">
<button (click)="uploadInput.click()" type="button" nz-button [nzType]="'default'" [nzSize]="'large'">
  <i class="anticon anticon-cloud-upload-o"></i><span>上传文件</span>
</button>

<ul class="upload-preview" *ngIf="isChoosed">
  <li>
    <div class="cover" (click)="deletImg()"><i class="anticon anticon-delete"></i></div>
    <div id="preview-img"><img [src]="imgUrl"></div>
  </li>
</ul>